
.container{
    width: 100%;
    margin-top: 0px;
    height: 100vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}
.mobContainer{
    width: 100%;
    margin-top: 0px;
    height: 110vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    display: none; 
}
.bgTextMob{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
}
.blogMobText{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:3rem;
    margin:auto;
}
.blogDesktopText{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0rem;
    margin-right:2rem;
}
.bgText{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content:right;
    color: #FFFFFF;
}
//------------------------
//PREDCITION -------------
//------------------------
.leadPredictionContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3rem 2rem;
}
.leadImage{
    width:100%
}
.end{
    width:60%;
    height:0.1rem;
    background-color: #efefef;
}
//------------------------------
//PRICING-----------------------
//------------------------------
.Container1{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:3rem 2rem; 
}
.pricingAlign{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.pricingchild1{
    width:30rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.1), 1px 1px 6px rgba(0, 0, 0, 0.08), 2px 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin:1rem;
}
.pricingchild1:hover{
    background: #232323;
    color: #FFFFFF;
    
    .pricingClass {color: #ffffff};
    .pricingSubtitle{ color:#ffffff};
    
}
.child1Heading{
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #2F80ED;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), 3px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 20px 20px;
    color:#ffffff;
}
.child1Content{
    width:70%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.pricingSubtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-decoration-line: underline;
}
.pricingClass{
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.pricingFooter{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #2F80ED;
    border-radius: 10px;
    color:#ffffff;
    margin: 1rem 0rem;
}
//----------------------
//INSIDE PEAK-----------
//----------------------
.insiderContainer{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.peekContainer{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #2566BA;
    flex-direction: column;
}
.peekAlign{
    display: flex
}
.peekContent{
    width:50%;
    padding:1rem;
    display:flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 0rem;
}
.step{
    width:18%;
    padding:0.5rem;
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
    border-radius: 8px;
}
.peekText{
    color:#FFFFFF;
    font-family: Roboto;
}
.peekImg{
    width:100%;
}






.videoContainer{
    width:100%;
    padding:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.callContainer{
    width:100%;
    display: flex;
    padding:3rem 3rem;
    font-family: Roboto;
    color: black;
    flex-direction: column;
}
.button{
    width: 200px;
    height: 40px;
    background: #2F80ED;
    border-radius: 6px;
    color: #ffffff;
    outline: none;
    border: none;
    font-family: Roboto;
    font-weight: 600;
}
.button:hover{
    background: rgb(1, 28, 63);  
    cursor: pointer;
}
.personContainer{
    width: 100%;
    padding:3rem;
    background: rgb(237, 245, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.person{
    width:80%;
    padding:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.1), 6px 6px 8px rgba(0, 0, 0, 0.06), 2px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px; 
}
.pClass{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.image{
    width: 184px;
    height: 184px; 
}
@media(max-width:1024px){
    .container{
        display: none;
    }
    .mobContainer{
        display: block; 
    }
    .blogDesktopText{
        width:30%;
        margin-right:1rem;
    }
    .videoContainer{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding:1rem;
    }
    .callContainer{
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem;
    }
    .personContainer{
        padding:2rem 1rem;
    }
    .person{
        width:90%;
        padding:1rem;
    }
    .pClass{
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .image{
        width: 100px;
        height: 100px; 
    }
}