
.container{
    width: 100%;
    margin-top: 0px;
    height: 100vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}
.mobContainer{
    width: 100%;
    margin-top: 0px;
    height: 110vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    display: none; 
}
.bgTextMob{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
}
.blogMobText{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:3rem;
    margin:auto;
}
.blogDesktopText{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0rem;
    margin-right:2rem;
}
.bgText{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content:right;
    color: #FFFFFF;
}
//------------------------
//PREDCITION -------------
//------------------------
.leadPredictionContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3rem 2rem;
}
.leadImage{
    width:100%
}
.end{
    width:60%;
    height:0.1rem;
    background-color: #efefef;
}
//------------------------------
//PRICING-----------------------
//------------------------------
.Container1{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:3rem 2rem; 
}
.pricingAlign{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.pricingchild1{
    width:30rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.1), 1px 1px 6px rgba(0, 0, 0, 0.08), 2px 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin:1rem;
}
.pricingchild1:hover{
    background: #232323;
    color: #FFFFFF;
    
    .pricingClass {color: #ffffff};
    .pricingSubtitle{ color:#ffffff};
    
}
.child1Heading{
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #2F80ED;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), 3px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 20px 20px;
    color:#ffffff;
}
.child1Content{
    width:70%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.pricingSubtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-decoration-line: underline;
}
.pricingClass{
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.pricingFooter{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #2F80ED;
    border-radius: 10px;
    color:#ffffff;
    margin: 1rem 0rem;
}
//----------------------
//INSIDE PEAK-----------
//----------------------
.insiderContainer{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.peekContainer{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #2566BA;
    flex-direction: column;
}
.peekAlign{
    display: flex
}
.peekContent{
    width:50%;
    padding:1rem;
    display:flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 0rem;
}
.step{
    width:18%;
    padding:0.5rem;
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
    border-radius: 8px;
}
.peekText{
    color:#FFFFFF;
    font-family: Roboto;
}
.peekImg{
    width:100%;
}
//----------------------
//WE ARE----------------
//----------------------
.weAreContent{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0rem;
}
.weAreHeading{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
    color: #232323;
    margin-bottom: 4rem;
}
.weAreCards{
    width:90%;
    margin:auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    // background-color: yellow;
}
.weAreCard{
    width:25rem;
    background: #2F80ED;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.weAreIcon{
 position: absolute;
    top:-35%;
    //margin-bottom: 10%;
}
.weAreIconMob{
    display:none;
}
.weAreTitle{
    margin-top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: #FFFFFF;
}
.weAreCard hr{
    margin-top: 0.7rem;
    width:50%;
    height:0.5px;
    background-color: #c9c9c9;
}
.weAreSubtitle{
    margin-top: -1rem;
}
.weAreCaption{
    margin-bottom: 1.5rem;
}
.weAreSubtitle,.weAreCaption{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center; 
    color: #FFFFFF;
    opacity: 0.8;   
}
//------------------------
//PROBLEM WE SOLVE--------
//------------------------
.problemContainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0rem;
}
.problemContainer1{
    display: flex;
    width:100%;
    padding:1rem;
    justify-content: space-around;
}
.problemContent{
    width:40%;
    align-items: center;
}
//-------------------------
//TEAM---------------------
//-------------------------
.teamContainer{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    margin: 3rem 0rem;
}
.founder{
    background: #2F80ED;
    box-shadow: 20px 0px 25px rgba(0, 0, 0, 0.1), 5px 0px 10px rgba(0, 0, 0, 0.5);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    flex:1;
    position: relative;
}
.founderImg{
    width:150px;
    height:150px;
    border-radius: 50%;
    background-color: white;
}
.name{
    padding:0.8rem 0.5rem 0rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.designation{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 1rem;
}
.team{
    flex:3;
    background: #3F3F3F;
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: center;
    padding:4rem;
    color:white;
}
.teamButton{
    width: 300px;
    height: 50px;
    background: #ffffff;
    border-radius: 6px;
    color: #001735;
    outline: none;
    border: none;
    font-family: Roboto;
    font-weight: 600;
    font-size: 1.3rem;
}
.teamButton:hover{
    background: #2F80ED;  
    cursor: pointer;
    color:white;
}
//--------------------------
//404-----------------------
//--------------------------
.four0Container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(208, 223, 243);
    padding:2rem;
}
.four0Img{
    width:40%;
    margin:3rem 0rem;
}


.videoContainer{
    width:100%;
    padding:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.callContainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-family: Roboto;
    color: black;
    flex-direction: column;
}
.button{
    width: 400px;
    height: 40px;
    background: #2F80ED;
    border-radius: 6px;
    color: #ffffff;
    outline: none;
    border: none;
    font-family: Roboto;
    font-weight: 600;
    margin: 2rem;
}
.button:hover{
    background: rgb(1, 28, 63);  
    cursor: pointer;
}
.personContainer{
    width: 100%;
    padding:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.person{
    width:80%;
    padding:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.1), 6px 6px 8px rgba(0, 0, 0, 0.06), 2px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px; 
}
.pClass{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.image{
    width: 184px;
    height: 184px; 
}
@media(max-width:1024px){
    .container{
        display: none;
    }
    .mobContainer{
        display: block; 
    }
    .blogDesktopText{
        width:30%;
        margin-right:1rem;
    }
    .videoContainer{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding:1rem;
    }
    .callContainer{
        justify-content: center;
        align-items: center;
        padding: 2rem 0rem;
    }
    .personContainer{
        padding:2rem 1rem;
    }
    .person{
        width:90%;
        padding:1rem;
    }
    .pClass{
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .image{
        width: 100px;
        height: 100px; 
    }
}